:root {
  --primary-color: #f74470;
}

* {
  scrollbar-width: thin;
  scrollbar-color: gray;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: darkgray;
}

*::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
  /* border: 3px solid orange; */
}

body {
  overflow-x: hidden;
}

.wrapper {
  width: 270px;
  position: relative;
  margin-left: 10%;
}

/* The side navigation menu */
.sidenav {
  width:270px;
  height: 100%; /* 100% Full-height */
  margin-left: 10%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  padding: 40px 0 0 30px;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 0px;
  text-decoration: none;
  font-size: 15px;
  color: #d8d8e9;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: var(--primary-color);
}

.sidenav a.active{
  color: var(--primary-color) !important;/* #978b8e !important; */
  background-color: white;
  border-top-left-radius: 20px;
  border-bottom-left-radius:20px;
}

.avatar{
  width: 135px;
  height: 135px;
  border-radius: 50%;
  margin: 0 auto;
} 

.avatar img{
  width: 100%;
  border-radius: 50%;
  
}

.social-list a, #nav a{
  color: inherit;
}

ion-icon {
  color:inherit;
}

/* Mobile navigation button */

#mobile-nav {
  background:rgba(12, 12, 12,0.5);
  height:40px;
  width: 40px;
  position:fixed;
  right: -40px;
  z-index: 2;
  margin-left: 0;
  display: none;
  top: 20px;
  left: 0px;
}

/* Main */

#main {
  /* margin-left: calc(270px + 10%); */
  transition: .5s;
  background: white;
  width: 740px;
  position: relative;
}

/* Section */

#publications h3, #certificates h3 {
  text-transform: capitalize;
  text-align: justify;
}

#npm-packages h3{
  text-transform: none;
}

.resume-download {
  float:right;
  color:white;
  /* padding: 5px 10px; */
  border-radius: 3px;
  cursor: pointer;
}

.skills-container{
  display: flex;
  flex-wrap: wrap;
}

.skills-container > div {
  flex-grow: 1;
  flex-basis: 45%;
  min-width: 200px;
  margin-right: 10px;
}

.skills-container > div p span{
  float: right;
}

/* Container for skill bars */
.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
  
}

.skills {
  text-align: right; /* Right-align text */
  color: white; /* White text color */
  min-height: 5px;
  transition: 2s;
  background-color: var(--primary-color);
}

.js {width: 90%;} 
.reactjs {width: 85%;} 
.expressjs {width: 75%;} 
.nodejs {width: 75%;} 
.docker {width: 70%;} 
.linux {width: 60%;} 

/*
  Navigation
*/

ul#nav li a {
  position: relative;
  padding-left: 20px;
  margin: 10px 0px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-width: 991px) {
  .sidenav { margin-left: 0; transform: translateX(-270px); }
  .sidenav a {font-size: 18px;}

  #mobile-nav {
    display: block;
  }

  .pushed {
    transform:translateX(0px)
  }

  #main{
    margin-left: 0;
    width: 100%;
  }

  .wrapper {
    width: 0;
    margin-left: 0;
  }

  .main-pushed{
    transform:translateX(270px)
  }
}

/* to align left for last row of flex warp */
.skills-chips::after {
  content: '';
  flex:auto;
}